.header {
    width: 100%;
    
    background-color: #007bff;
    color: white;
}
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    float: left;
    width: 660px;
}
.sidemenu {
    float: right;
    width: 275px;
}
